<mat-toolbar>
  <div *ngIf="!user; else elseBlock">
    <button mat-raised-button color="warn" [matMenuTriggerFor]="aboveMenu">Hello stranger</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button (click)="openDialog()" mat-menu-item>Log in</button>
      <button (click)="openRegDialog()" mat-menu-item>Register</button>
    </mat-menu>
  </div>

  <ng-template #elseBlock>
    <div>
      <button mat-stroked-button [matMenuTriggerFor]="aboveMenu">Hello {{user.username}}</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button (click)="logout()" mat-menu-item>Logout</button>
        <button mat-menu-item>Profile</button>
      </mat-menu>
    </div>
  </ng-template>

  <button (click)="purchaseDialog()" style="margin: 10px;" color="basic" mat-raised-button
    color="">Shop</button>

    <button mat-mini-fab color="basic" aria-label="Example icon button with a delete icon" style = "  margin-left: auto; " (click) = "delete()">
      <mat-icon >delete</mat-icon>
    </button>
</mat-toolbar>

<div class="tab_bar">
  <button *ngFor="let tree of allTrees; index as i" class="tab_item" [class.tab_item_selected]= "tabs[i].selected" (click)=selectTab(i) mat-raised-button
    color="">{{tabs[i].name}}</button>
</div>

<div *ngFor="let tree of allTrees; index as i" class="" [class.selected]="tabs[i].selected"
  [class.content]="!tabs[i].selected">
  <div [attr.id]="'canvas-' + i"></div>
</div>



<div class="fa-9x loaderHolder" [class.hidden]= "!loading" [class.loaderHolder] = "loading" >
  <i class="fas fa-cog fa-spin" style= "margin:auto"></i>
</div>
